
<section class="h-100 w-100" >
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">



        <div class="card rounded-3 mb-4">
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <%# <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                  class="img-fluid rounded-3" alt="Cotton T-shirt"> %>
      

              </div>
              <% @cart.orderables.each do |orderable| %>
              <% product = orderable.product %>

              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Name</p>
                <p><span class="text-muted"><%= product.title %></p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">Description</p>
                <p><span class="text-muted"><%= product.description %></p>
                </div>

              <div class="col-md-3 col-lg-2 col-xl-2 ">
                <p class="lead fw-normal mb-2">Price</p>
                <h5><span class="text-muted"><%= product.price %></h5>
              </div>


              <div class="col-md-3 col-lg-2 col-xl-2 ">
                <h5><span class="text-muted">
                <%= form_with(url: cart_remove_path) do |f| %>
                <%= f.hidden_field :id, value: orderable.id %>
                <%= f.submit "X", class:"btn btn-danger"%>
              <% end %>    
                </h5>
                
              </div>
              

              
            <%end%>
            </div>
          </div>
        </div>





        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discound code</label>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <button type="button" class="btn btn-warning btn-block btn-lg">Proceed to Pay</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
