<%= form_with model: [ @user, @product.comments.build ] do |form| %>
  <p>
    <%= form.label :status %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
  </p>
  <p>
      <%= form.hidden_field :product_id%>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
  </p>
  <p>
      <%= form.submit %>
  </p>
<% end %>
