<div class="head">
  <nav class="navbar navbar-expand-lg navbar-light" style="background">
    <div class="container-fluid d-flex justify-content-center">
      <div class="logo-btn">
        <%= link_to root_path do %> 
        <%= image_tag "logo.png" , class:"logo" %>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <%= link_to "Home" , root_path, class:"nav-link active"%>
          </li>

          <li class="nav-item">
            <%= link_to "Catagory" , categories_path, class:"nav-link active"%>
          </li>
          <li class="nav-item">
            <%= link_to "Contact Us" , new_contact_path, class:"nav-link active"%>
          </li>

          <li class="nav-item">
            <%= link_to "About Us" , about_path, class:"nav-link active"%>
          </li>
        </ul>
      
        <div class="button me-3">
        <%= link_to cart_path do %> 
          <%= image_tag "cart.png" , class:"cart" %>
        <% end %>
        </div>
        
        <form class="button me-3">
          <% if user_signed_in? %>
        
            <div class="dropdown">
              <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false">
                Account Info
              </a>

              <ul class="dropdown-menu bg-transparent" aria-labelledby="dropdownMenuLink">
                <li>
                  <%= link_to current_user.email, edit_user_registration_path, class:"dropdown-item"%>
                </li>
                <li>
                  <%= link_to "Sign out" , destroy_user_session_path, data: { turbo_method: :delete },
                    class:"dropdown-item"%>
                </li>
              </ul>
            </div>
            <%else%>
              <%= link_to "Sign in" , new_user_session_path, class:"btn btn-transparent" %>
              <%= link_to " Sign up" , new_user_registration_path, class:"btn btn-success btn-2" %>
          <%end%>
        </form>
      </div>
    </div>
  </nav>
</div>