<div class="logIn">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <h2 class="logInTxt" >Log in</h2>
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-50">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="rounded float-start"
            alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form>
            <!-- Email input -->
            <div class="form-outline mb-4">
                <div class="field">
                  <%= f.label :email,class:"form-label" %><br />
                    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control
                      form-control-lg" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :password ,class:"form-label" %><br />
                    <%= f.password_field :password, autocomplete: "current-password" ,class:"form-control
                      form-control-lg" %>
                </div>
                <br>
                <% if devise_mapping.rememberable? %>
                  <div class="form-check">
                    <%= f.check_box :remember_me, class:"form-check-input" %>
                      <%= f.label :remember_me, class:"form-check-label" %>
                  </div>
                  <% end %>
                    <br>
                    <div class="actions">
                      <%= f.submit "Log in", data: {turbo: false}, class:"btn btn-primary btn-lg btn-block" %>
                    </div>
                    <% end %>
                      <br>
                  <%= render "devise/shared/links" %>
          </form>
        </div> 
      </div>
    </div>
  </section>
</div>