<div class="p">
    <h1>Brand Page</h1>
    <% if user_signed_in? %>
    <%= link_to "Add new Brands", new_brand_path, class: "btn btn-success mb-4" %>
    <%= link_to "Back to Catagory", categories_path, class: "btn btn-primary mb-4" %>
    <%end%>
      <table class="table table-striped table-bordered table-hover"> 
        <thead > 
          <tr class="table-dark">
            <th scope="col">Brand Name </th>
            <% if user_signed_in? %>
            <th scope="col">Body </th>   
            <th scope="col">Edit Brand  </th>
              <%end%>
              <th scope="col"></th>
          </tr>
        </thead>
    <% @brands.each do |brand| %>
      <tbody>
        <tr>
          <td><%=brand.name%></td>
          <% if user_signed_in? %>                     
          <td><%=brand.body%></td>
           <td> 
            <%= button_to brand.name, brand_path(brand),
                          method: :get,
                          class: "btn btn-warning" %>
            </td>
          <%end%>
          <td></td>
        </tr>
      </tbody>
    <%end%>
  </table>
</div>
