<section>
  <div class="container">
    <div class="section">
      <div class="left-text">
        <div class="vpn">
          <h1 class="h1-eng">eCommerce Website <br> on Rails</h1>
        </div>
        <div class="exc">Exclusive offer: Get 3 extra months DISCOUNT</div>
        <div>
          <%= link_to 'Sign Up' , new_user_registration_path, class:"btn1"%>
        </div>
        <div class="money-back">30-DAY MONEY-BACK GUARANTEE</div>
      </div>
      <div class="right-img">
        <%= image_tag "2.png" , class:"hero-img" %>
      </div>
    </div>
</section>

<div >

  </div>
   <div class="container-fluid pt-5 pb-3 bordered">
  <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
  <h3 class="count">Number of Products <%= Product.public_count %></h3>
  </h2>
  <div class="row px-xl-5">
    <% @products.each do |product| %>
      <% unless product.archived? %>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
          <div class="product-item bg-light mb-4">
            <div class="product-img position-relative overflow-hidden d-flex align-items-center justify-content-center mt-2 pt-5">
              <% if product.profile_image.attached? %>
                <%= image_tag(product.profile_image, size: '200x200') %>
              <% end %>
            </div>
            <div class="text-center py-4">
              <a class="h6 text-decoration-none text-truncate" href=""><%= product.title %></a>
               <div class="d-flex align-items-center justify-content-center mt-2">
                <h5><%= product.description %></h5>
              </div>
              <div class="d-flex align-items-center justify-content-center mt-2">
                <h5>$<%= product.price %></h5>
              </div>
                <%= form_with(url: cart_add_path) do |f| %>

              <div class="d-flex align-items-center justify-content-center mb-1">
                  <%= f.hidden_field :id, value: product.id %>
                  <%= f.number_field :quantity, value: 0, min: 1 %>
                  </div>
                <div class="d-flex align-items-center justify-content-center mb-1">

                  <%= f.submit "Add To Cart", class: "d-flex align-items-center justify-content-centerbtn btn-primary " %>
              </div>
                <% end %>

              <% if user_signed_in? %>
                <%= link_to "Edit" , product, class: "btn btn-outline-secondary btn-sm" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="p-btn">
  <% if user_signed_in? %>
  <%= link_to "create new", new_product_path, class: "btn btn-primary mb-4" %>
  <%end%>
</div>
</div>
